* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.2s;
}

.errPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    line-height: 70px;
}

.errPage .errIcon {
    font-size: 200px;
    color: #ef3232;
}

.errPage h1 {
    font-size: 60px;
}

.errPage .errInfo {
    font-size: 30px;
}


.container {
    background: linear-gradient(175deg, #272727, #4a4a4a);
    width: 100%;
    height: 100vh;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 13px;
}

.table td {
    border-bottom: 1px solid #9f9f9f;
    padding:10px 10px 10px 0;
}
.ellipsis {
    width: 20%;
    position: relative;
}

.ellipsis:before {
    content: ' ';
    visibility: hidden;
}

.ellipsis p {
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.table tr {
    background-color: #b9b9b9;
    font-weight: 500;
    transition: 0.5s;
}

.table th:first-child {
    text-align: center;
}

.table tr:nth-child(1n + 3 ):hover {
    cursor: pointer;
    background-color: #d4d4d4;
}
.show:hover + .visible{
   color: #fafafa;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-weight: 500;
}

.header th {
    border-bottom: none;
}

.bordred-head {
    border-bottom: #1465df 2px solid;
}

.navbar {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}


.logo-royal-maroc {
    width: 30px;
}

.left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    width: 500px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff31;
    outline: none;
    border: none;
    color: #fff;
}

.search::placeholder {
    font-weight: 700;
}

.logo-search {
    background-color: #ffffff31;
    padding: 11px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}


.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.logo-profile {
    font-size: 25px;
    color: #fff;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 200px 82% 20px);
    height: calc(100vh - 70px);
    gap: 5px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.left-bar .childrens {
    padding: 10px 0 10px 19.4px;
    font-size:13px;
    font-weight: 500;
    border-radius: 0 30px 30px 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.childrens:focus {
    background-color: #cbc9c96f;
}

.btn-add {
    outline: none;
    border: none;
    background-color: #fff;
    color: #373737;
    font-weight: 500;
    font-size: 13px;
    width: 175px;
    padding: 11px;
    margin: 20px 0 10px 19.4px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.logo-icon {
    font-size: 15.5px;
    margin-right: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}

.dropdown-btn {
    outline: none;
    border: none;
    background-color: #cbc9c9;
    color: #373737;
    font-weight: 500;
    font-size: 15px;
    padding: 13px;
    margin: 20px 0 0 19.4px;
    border-radius: 5px;
    cursor: pointer;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
}

.form-container h1 {
    color: #fff;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
}

.form-controle {
    grid-column: 1/2;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.form .form-controle .info-text {
    color: #ffffff79;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-container .message-controle {
    grid-row: 1/2;
    grid-column: 1/4;
    width: 90%;


}

.message-controle .message {
    background-color: #2bff44ba;
    color: #fafafa;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

.form .form-controle input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.form .form-controle input:focus,
.btn:focus {
    box-shadow: 0 0 0 3px #2986fff1;
}

.form-container .childe-2 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.childe-6 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.childe-7 {
    grid-column: 2/3;

}

.btn {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    background-color: #ffffff;
    color: #272727;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.selector {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.selector * {
    font-size: 20px;
    border-radius: 5px;
}

.form-container span {
    color: #fff;
}

.profile-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #fafafa;
    border-radius: 5px;
}

.dark-btn {
    background-color: #272727;
    color: #fff;
}

.dark-btn:focus {
    box-shadow: 0 0 0 3px #00000060;
}

.profile-container span {
    font-size: 20px;
}

.profile-container .children-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-195deg, #fafafa, #d9d9d9);
}

.container-login .container-form {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-login .container-form .form {
    background-color: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 60px;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.input {
    padding: 14px;
    outline: none;
    border: none;
    background-color: #919191;
    margin-top: 40px;
    border-radius: 5px;
    color: #ffffff;
}

.input:focus {
    box-shadow: 0 0 0 3px #00000027;
}

.input::placeholder {
    color: #ffffff8d;
}

.contexte-login {
    background-color: #272727;
    border-radius: 0 10px 10px 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffff;
    text-align: center;
}

.overflowing-text {
    text-overflow: ellipsis;
}

.logo-royal-maroc-login {
    width: 55px;
}

