* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.2s;
}

.errPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    line-height: 70px;
}

.errPage .errIcon {
    font-size: 200px;
    color: #ef3232;
}

.errPage h1 {
    font-size: 60px;
}

.errPage .errInfo {
    font-size: 30px;
}


.container {
    background: linear-gradient(175deg, #272727, #4a4a4a);
    width: 100%;
    height: 100vh;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 13px;
}

.table td {
    border-bottom: 1px solid #9f9f9f;
    padding: 10px 10px 10px 0;
}

.ellipsis {
    width: 20%;
    position: relative;
}

.ellipsis:before {
    content: ' ';
    visibility: hidden;
}

.ellipsis p {
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.table tr {
    background-color: #b9b9b9;
    font-weight: 500;
    transition: 0.5s;
}

.table th:first-child {
    text-align: center;
}

.table tr:nth-child(1n + 3):hover {
    background-color: #d4d4d4;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-weight: 500;
}

.header th {
    border-bottom: none;
}

.bordred-head {
    border-bottom: #1465df 2px solid;
}

.navbar {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}


.logo-royal-maroc {
    width: 30px;
}

.left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    width: 500px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff31;
    outline: none;
    border: none;
    color: #fff;
}

.search::placeholder {
    font-weight: 700;
}

.logo-search {
    background-color: #ffffff31;
    padding: 11px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}


.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 200px 82% 20px);
    height: calc(100vh - 70px);
    gap: 5px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.left-bar .childrens {
    padding: 10px 0 10px 19.4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 0 30px 30px 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-top: 3px;
}

.childrens:focus {
    background-color: #cbc9c96f;
}

.childrens:hover {
    background-color: #cbc9c96f;
}

.btn-add {
    outline: none;
    border: none;
    background-color: #fff;
    color: #373737;
    font-weight: 500;
    font-size: 13px;
    width: 175px;
    padding: 11px;
    margin: 20px 0 0px 19.4px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.logo-icon {
    font-size: 13px;
    margin-right: 5px;
}
.logo-profile {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}
.dropdown{
    background-color: #fafafa;
    display: flex;
    row-gap: 2px; 
    flex-direction: column;
    position: absolute;
    top: 7%;
    right: 1%;
}
.dropdown *{
    padding: 15px 40px 15px 40px;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: #272727;
    border: none;
    font-size: 15px;
    font-weight: 500;
}
.dropdown *:hover{
    background-color: #9f9f9f;
}
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: left;
    gap: 20px;
    margin: 20px;
}

.form-container h1 {
    color: #fff;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
}

.form-controle {
    grid-column: 1/2;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.form .form-controle .info-text {
    color: #ffffff79;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-container .message-controle {
    grid-row: 1/2;
    grid-column: 1/4;
    width: 90%;
}

.message-controle .message {
    background-color: #2bff44ba;
    color: #fafafa;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

.form .form-controle input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.form-controle-flex input {
    width: 50vw;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.form .form-controle input:focus,
.btn:focus,
.form-controle-flex input:focus {
    box-shadow: 0 0 0 3px #2986fff1;
}

.form-container .childe-2 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.childe-6 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.childe-7 {
    grid-column: 2/3;

}

.full-childe {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    background-color: #ffffff;
    color: #272727;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.selector {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.selector-flex {
    width: 51vw;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.selector *.selector-flex * {
    font-size: 20px;
    border-radius: 5px;
}

.form-container span {
    color: #fff;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 50px 200px 0px 200px;
    gap: 10px;
    width: 820px;
}

.profile-container .profile-controle {
    background-color: #dadada;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 40px;
    width: 100%;
}

.profile-controle .profile-data {
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 50px;
    border-bottom: 2px solid #989898;
}

.profile-column:last-child * {
    border-bottom: none;
}

.profile-info {
    color: #767676;
}

.profile-header {
    font-weight: 600;
    font-size: 15px;
    grid-column: 1;
}

.dark-btn {
    background-color: #272727;
    color: #fff;
}

.dark-btn:focus {
    box-shadow: 0 0 0 3px #00000060;
}

.profile-img-controle {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
    font-size: 15px;
    font-weight: 600;
    padding: 30px 30px 30px 50px;
    border-bottom: 2px solid #989898;
}

.profile-img {
    font-size: 120px;
    color: #767676;
}

.profile-add-img::-webkit-file-upload-button {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #767676;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #272727;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.profile-add-img::-webkit-file-upload-button:hover {
    color: #272727;
}

.btn-add-image {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #767676;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #272727;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.profile-add-img {
    color: transparent;
    width: 90px;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-195deg, #fafafa, #d9d9d9);
}

.profile-info-img {
    color: #767676;
    font-size: 13px;
    width: 150px;
    padding-bottom: 10px;
}

.profile-img-controle .img-container {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}

.profile-img-controle .img-container .img {
    width: 100%;
    height: 100%;
}

.container-login .container-form {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-login .container-form .form {
    background-color: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 60px;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.input {
    padding: 14px;
    outline: none;
    border: none;
    background-color: #919191;
    margin-top: 40px;
    border-radius: 5px;
    color: #ffffff;
}

.input:focus {
    box-shadow: 0 0 0 3px #00000027;
}

.input::placeholder {
    color: #ffffff8d;
}

.contexte-login {
    background-color: #272727;
    border-radius: 0 10px 10px 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffff;
    text-align: center;
}

.overflowing-text {
    text-overflow: ellipsis;
}

.logo-royal-maroc-login {
    width: 55px;
}

.edit-icon {
    text-decoration: none;
    color: #272727;
    font-size: 16px;
    cursor: pointer;
}

.space-header {
    width: 30px;
}

.object-controle {
    grid-column: 1/4;
    width: 100%;
}

.object-controle .object {
    height: 50vh;
    min-height: 50vh;
    max-height: 50vh;
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    outline: none;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
}

.object-controle .object:focus {
    box-shadow: 0 0 0 3px #2986fff1;
}